<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Trivialanalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ request.static_url('trivialblog:static/bootstrap/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ request.static_url('trivialblog:static/bootstrap/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('trivialblog:static/css/custom.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ request.application_url }}">Trivialanalog</a>
          <div class="nav-collapse">
            <ul class="nav">
              <!-- hier kommen die Menüpunkte rein -->
              <li><a href="{{ request.route_url('archive') }}">Archiv</a></li>
              {% block navbarbuttons %}
              {% endblock %}
            </ul>
            {% block loginbutton %}
            {% endblock %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% block context %}
    {% endblock %}
    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{{ request.static_url('trivialblog:static/bootstrap/bootstrap/js/bootstrap.min.js') }}"></script>

  </body>
</html>
