{% extends "basic.jinja2" %}

{% block navbarbuttons %}
{% if 'editors' in groups %}
<li class="divider-vertical"></li>
<li><button class="btn btn-success btn-small" onclick="window.location.href='{{ add_url }}'"><i class="icon-pencil"></i> neuer Post</button></li>
{% endif %}
{% if 'admins' in groups %}
<li class="divider-vertical"></li>
<li>
  <button class="btn btn-success btn-small" onclick="window.location.href='{{ add_user_url }}'">
    <i class="icon-plus"></i> <i class="icon-user"></i>
  </button>
</li>
<li class="divider-vertical"></li>
<li>
    <button type="submit" class="btn btn-small btn-warning">
      <i class="icon-pencil"></i> <i class="icon-user"></i>
    </button>
  </form>
</li>
{% endif %}
{% endblock %}

{% block loginbutton %}
{% if logged_in %}
<a class="btn btn-primary btn-small pull-right" href="{{ logout_url }}"><i class="icon-user"></i> Logout</a>
{% else %}
<a class="btn btn-primary btn-small pull-right" href="{{ login_url }}"><i class="icon-user"></i> Login</a>
{% endif %}
{% endblock %}

{% block context %}
  {% for p in posts %}
  <article>
    <h2><a href="{{ view_url }}{{ p.id }}">{{ p.headline|safe }}</a></h2>
    <p><small>{{ p.pdate.strftime("%A, %d. %B %Y") }}</small></p>
    {{ p.content|markdown|safe }}
  </article>
  {% endfor %}
{% endblock %}
