{% extends "basic.jinja2" %}

{% from 'macros.jinja2' import 
  btn_add_post,
  btn_edit_post,
  btn_delete_post,
  btn_add_user,
  btn_edit_user,
%}

{% block navbarbuttons %}

{% if 'editors' in groups %}
  {{ btn_add_post(request.route_url('add.post')) }}
  {{ btn_edit_post(request.route_url('edit.post', id=p.id) ) }}
  {{ btn_delete_post(request.route_url('delete.post', id=p.id)) }}
{% endif %}

{% if 'admins' in groups %}
  {{ btn_add_user(request.route_url('add.user')) }}
  {{ btn_edit_user(request.route_url('edit.user')) }}
{% endif %}

{% endblock %}

{% block context %}
  <article>
    <h2>{{ p.headline|safe }}</h2>
    <p><small>{{ p.pdate.strftime("%A, %d. %B %Y") }}</small></p>
    {{ p.content|markdown|safe }}
  </article>
{% endblock %}
