{% extends "basic.jinja2" %}

{% block navbarbuttons %}
{% if 'editors' in groups %}
<li class="divider-vertical"></li>
<li><button href="{{ home_url }}"class="btn btn-warning btn-small"><i class="icon-pencil"></i> editieren</button></li>
<li class="divider-vertical"></li>
<li><button class="btn btn-danger btn-small"><i class="icon-remove"></i> löschen</button></li>
{% endif %}
{% endblock %}

{% block loginbutton %}
{% if logged_in %}
<a class="btn btn-primary btn-small pull-right" href="{{ logout_url }}"><i class="icon-user"></i> Logout</a>
{% else %}
<a class="btn btn-primary btn-small pull-right" href="{{ login_url }}"><i class="icon-user"></i> Login</a>
{% endif %}
{% endblock %}

{% block context %}
  <article>
    <h2>{{ p.headline|safe }}</h2>
    <p><small>{{ p.pdate.strftime("%A, %d. %B %Y") }}</small></p>
    {{ p.content|markdown|safe }}
  </article>
{% endblock %}
