{% extends "basic.jinja2" %}

{% block navbarbuttons %}
<li class="divider-vertical"></li>
<li><button href="/"class="btn btn-warning btn-small"><i class="icon-pencil"></i> editieren</button></li>
<li class="divider-vertical"></li>
<li><button class="btn btn-danger btn-small"><i class="icon-remove"></i> löschen</button></li>
{% endblock %}

{% block context %}
  <article>
    <h2>{{ p.headline }}</h2>
    <p><small>{{ p.pdate.strftime("%A, %d. %B %Y") }}</small></p>
    {{ p.content|markdown|safe }}
  </article>
{% endblock %}
